<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <app-input [control]="cardForm.controls.name" label="Name"></app-input>
  <app-input [control]="cardForm.controls.cardNumber" label="Card Number"></app-input>
  <div class="columns">
    <div class="column">
      <app-input [control]="cardForm.controls.expiration" label="Expiration"></app-input>
    </div>
    <div class="column">
      <app-input [control]="cardForm.controls.securityCode" label="Security Code"></app-input>
    </div>
  </div>
  <div class="buttons">
    <button class="button is-primary" [disabled]="cardForm.invalid" type="submit">
      Sumbit
    </button>
    <button class="button is-danger" type="button" (click)="onResetClick()">
      Reset
    </button>
  </div>
</form>
<br />
