<app-divider> Placeholder Component</app-divider>
<app-placeholder [header]="true"> </app-placeholder>


<app-divider>Segment Component </app-divider>
<app-segment>
  <!-- first part -->
  <div class="icon-header">
    <i class="pdf file outline icon"></i>
    No documents are listed for this customer
  </div>
  <!-- second part -->
  <button class="ui primary button">
    Add document
  </button>
</app-segment>


<app-segment>
  <!-- first part -->
  <div class="icon-header">
    <i class="add icon"></i>
    Add a resource
  </div>
  <!-- second part -->
  <button class="ui primary button">
    Click to Addt
  </button>
</app-segment>
